version: '3.8'

services:
  redis:
    image: redis:latest
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - ./volume/redis/redis.conf:/usr/local/etc/redis/redis.conf
      - ./volume/redis/data:/data
    command: redis-server /usr/local/etc/redis/redis.conf
    restart: always

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - ./volume/postgres/data:/var/lib/postgresql/data
    restart: always